# Файлы окружения и конфигурации
.env
.env.local
config.py
secrets/

# Виртуальное окружение
venv/
.env/
venv*/
ENV/

# Кэш Python
__pycache__/
*.py[cod]
*.pyc

# Логи и системные файлы
*.log
*.sqlite
*.db

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo

# Операционные системы
.DS_Store
Thumbs.db